<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>About:</b>
  <%= @venue.about %>
</p>

<p>
  <b>Site:</b>
  <%= @venue.site %>
</p>

<p>
  <b>Email:</b>
  <%= @venue.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @venue.phone %>
</p>

<p>
  <b>Address1:</b>
  <%= @venue.address1 %>
</p>

<p>
  <b>Addres2:</b>
  <%= @venue.addres2 %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>State:</b>
  <%= @venue.state %>
</p>

<p>
  <b>Country:</b>
  <%= @venue.country %>
</p>

<p>
  <b>Geopos:</b>
  <%= @venue.geopos %>
</p>

<p>
  <b>Facebook:</b>
  <%= @venue.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @venue.twitter %>
</p>

<p>
  <b>Instagram:</b>
  <%= @venue.instagram %>
</p>

<p>
  <b>Youtube:</b>
  <%= @venue.youtube %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
