<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @company.contact_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @company.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>State:</b>
  <%= @company.State %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Bank:</b>
  <%= @company.bank %>
</p>

<p>
  <b>Account type:</b>
  <%= @company.account_type %>
</p>

<p>
  <b>Account number:</b>
  <%= @company.account_number %>
</p>

<p>
  <b>Plan description:</b>
  <%= @company.Plan_description %>
</p>

<p>
  <b>Agreement conditions:</b>
  <%= @company.Agreement_conditions %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
